body {
  padding: 10px 20px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

a {
  color: #00B7FF;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}
